* {
    box-sizing: border-box;
  }
body {
    max-width: 60%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    background-image: url("../Media/endless-constellation.svg");
}
h1 {
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
} 
.card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#output1, #output2, #output3, #output4 {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #ccc;
}

#promptCard1, #promptCard2,#promptCard3,#promptCard4 {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: white;
}



#play {
    width: 30%;
    background-color: #4c78af;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit1,#submit2,#submit3,#submit4 {
    width: 30%;
    background-color: #4caf72;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}